{% extends "base_generic.html" %}
{% block content %}

<hr>

<div class="main_reg_cont">
<div class="style reg_cont">
  <div class="small_reg_cont">
  <h2 class="letters_sb">Вход</h2>
{% if form.errors %}
  <p>Что-то не так!</p>
{% endif %}


<form method="post" action="{% url 'login' %}">
{% csrf_token %}


  <!-- <b class="body_class">Имя пользователя:</b> -->
  <!-- {{ form.username }} -->
  <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="40" required="" id="id_username" placeholder="Логин">
  <br>
  <!-- <b class="body_class">Пароль:</b> -->
  <!-- {{ form.password }} -->
  <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Пароль">

  <br>
<input class="testbutton" type="submit" value="Войти" />
<input type="hidden" name="next" value="{{ next }}" />

</form>

<p class="k"><a class="name" href="{% url 'password_reset' %}">Забыли пароль?</a></p>
  </div>
  </div>
  </div>
{% endblock %}