{% extends "base_generic.html" %}
{% block content %}

<hr>

<div class="main_reg_cont">
<div class="style reg_cont">
    <div class="small_reg_cont">

<form method="post">
{% csrf_token %}
<h2 class="letters_sb">Регистрация</h2> <!-- Добавь класс с дизайном --> <br>


  <input type="text" name="username" maxlength="40" required="" id="id_username" placeholder="Логин" class="input_place">
  <!--{{ form.username }}--> <br>


  <input type="email" name="email" maxlength="254" required="" id="id_email" placeholder="Электронная почта" class="input_place">
  <!--{{ form.email }}--> <br>


  <input type="password" name="password" required="" id="id_password" placeholder="Пароль" class="input_place">
  <!--{{ form.password }}--> <br>


  <input type="password" name="password2" required="" id="id_password2" placeholder="Повтор пароля" class="input_place">
  <!--{{ form.password2 }}--> <br>

<input class="testbutton" type="submit" value="Регистрация" />
</form>

<p class="k"><a class="name" href="{% url 'login' %}">Уже есть аккаунт?</a></p>
</div>
</div> </div>
{% endblock %}