{% extends "base_generic.html" %}
{% block content %}

<hr>

<div class="main_reg_cont">
<div class="style reg_cont">
<form method="post">
{% csrf_token %}
<h2 class="letters_sb">Регистрация</h2> <!-- Добавь класс с дизайном -->
<table>

<tr>
  <td><b class="body_class">Имя пользователя:</b></td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td><b class="body_class">Электронная почта:</b></td>
  <td>{{ form.email }}</td>
</tr>

<tr>
  <td><b class="body_class">Пароль:</b></td>
  <td>{{ form.password }}</td>
</tr>

<tr>
  <td><b class="body_class">Пароль ещё раз:</b></td>
  <td>{{ form.password2 }}</td>
</tr>
</table>

<input class="testbutton" type="submit" value="Регистрация" />
</form>

<p class="k"><a class="name" href="{% url 'login' %}">Уже есть аккаунт?</a></p>
</div>
</div>
{% endblock %}