{% extends "base_generic.html" %}
{% block title %}<title>Как связаны кофеин и наш муд</title>{% endblock %}
{% block content %}

<div class="articles">
    <h1 class="h1_class">Как связаны кофеин и наш муд</h1>
<hr>

<img src="https://images.wallpaperscraft.ru/image/single/smajl_smajlik_grustnyj_156138_1280x720.jpg" class="img">

<div>

<p class="body_class">Кофеин блокирует аденозиновые рецепторы, это понятно, ведь мы не хотим спать. Но почему тогда происходит резкий выплеск энергии? Все дело в том, что кофеин стимулирует выделение адреналина в надпочечниках. Тут остановимся и поговорим поподробнее: адреналин вырабатывается организмом из тирозина - аминокислоты, поступающей с пищей. Адреналин также образуется при возбуждении вегетативной нервной системы. Как адреналин влияет на организ
Вышеперечисленные свойства кофеина чаще всего используются нами для того, что бодрствовать ночами и легче просыпаться по утрам. </p>
<p class="body_class">Забегая вперед, могу сказать, что все негативные последствия потребления кофеина, вызваны передозировкой этого вещества.Если употребить огромное количство кофеина единоразово, то можно получить повышенную нервную возбудимость и ярко выраженную тревожность.</p>



</div>





</div>

{% endblock %}