{% extends "base_generic.html" %}

{% block content %}

<hr>

<h1 class="h1_class">Наши статьи</h1>
<h3 class="r letters_sb">{% if not filters %}Всего статей{% else %} Количество статей содержащих {% for tag in filters %}<span class="tag">{{tag}}</span>{% endfor %}{% endif %}: {{ num }}</h3>
<div class="articles_container">
    <div class="articles_block">
{% for article in articles_list %}
<div class="style">
    <a class="name" href={{article.id}}><h3 class="body_class">{{article.title}}</h3></a>
    <p class="des__class">{{article.summary}}</p>
    {% for tag in article.tags %}
    <span class="tag tag__class">{{tag}}</span>
    {% endfor %}
</div>
{% endfor %}
        </div>


    <div class="style filters_block">
<h2 class="letters_sb">Фильтры</h2>
<form method="post" action="{% url 'articles' %}">
{% csrf_token %}
<div>
    <table>
        {% for question in form %}
            <tr>
              <td>{{ question }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

    <div class="button_field">
        <input class="testbutton" type="submit" value="Применить" />
    </div>
</form>
    {{ req }}
        </div>

    </div>
{% endblock %}