<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Кофеин</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <script src="{% static 'scripts/script.js' %}"></script>

  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   <link rel="stylesheet" href="{% static 'css/popupstyles.css' %}">

</head>

<body>
<div class="container">
  {% block sidebar %}
  <div class="container-col">
        <menu class="k menu_class">
          <li class="menu_li_class"><a class="letters_sb" href="{% url 'index' %}">Главная</a></li>
          <li class="menu_li_class"><a class="letters_sb" href="{% url 'statistic' %}">Статистика</a></li>
          <li class="menu_li_class"><a class="letters_sb" href="{% url 'articles' %}">Статьи</a></li>
          <li class="menu_li_class"><a class="letters_sb" href="{% url 'questionary' %}">Анкета</a></li>
        </menu>

        <menu class="k reg_class">
          {% if user.is_authenticated %}
          <li class="reg_li_class letters_sb">Пользователь: {{ user.get_username }}<li>
          <li class="reg_li_class"><a class="letters_sb" href="{% url 'logout'%}?next={{request.path}}">Выход</a></li>
          {% else %}
          <li class="reg_li_class"><a class="letters_sb" href="{% url 'login'%}?next={{request.path}}">Вход</a></li>
          <li class="reg_li_class"><a class="letters_sb" href="{% url 'registration' %}">Регистрация</a></li>{% endif %}
        </menu>
      

  </div>
    {% endblock %}
</div>
        <div class="container">
      {% block content %}{% endblock %}
        </div>
<!--
      <div>
      <div class="style filters_block"> {% block right-col %}{% endblock %}</div></div>

  </div> -->
</body>
</html>