<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Кофеин</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <script src="{% static 'scripts/script.js' %}"></script>

  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

  <div class="cont
  ainer-fluid">

    <div class="row">
      <div class="col-sm-3">
      {% block sidebar %}
      <div class="style">
      <dl>
          <dd class="letters_sb" ><a href="{% url 'index' %}">Домашняя страница</a></dd>
          <dd class="letters_sb"><a href="{% url 'statistic' %}">Статистика</a></dd>
          <dd class="letters_sb"><a href="{% url 'articles' %}">Статьи</a></dd>
          <dd class="letters_sb"><a href="{% url 'questionary' %}">Анкета</a></dd>
          {% if user.is_authenticated %}
         <dd class="letters_sb">Пользователь: {{ user.get_username }}</dd>
         <dd class="letters_sb"><a href="{% url 'logout'%}?next={{request.path}}">Выход</a></dd>
       {% else %}
         <dd class="letters_sb"><a href="{% url 'login'%}?next={{request.path}}">Вход</a></dd>
          <dd class="letters_sb"><a href="{% url 'registration' %}">Регистрация</a></dd>
       {% endif %}
      </dl>
    </div>
     {% endblock %}
      </div>
      <div class="col-sm-7">
      {% block content %}{% endblock %}

      </div>
      <div class="col-sm-2">
      {% block right-col %}<a>Правая колонка нет блять левая</a>{% endblock %}

      </div>
    </div>

  </div>
</body>
</html>