{% extends "base_generic.html" %}

{% block content %}

<hr>


<h1 class="h1_questionary">Анкета по употреблению кофеина</h1>

<form method="post" action="{% url 'questionary' %}">
    <div class="style">
{% csrf_token %}
    <h2 class="letters_sb">Часть {{ form.numb }}</h2>
    <h3 class="articles__style">{{ form.comment }}</h3>
    <table class="table_class">
        {% for question in form %}
            <tr>
                {% if form.numb == 3 %}
                    <td style="width: 500px"><b>{{ question.label }}:</b></td>
                {% else %}
                    <td><b>{{ question.label }}:</b></td>
                {% endif %}
              <td>{{ question }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <div class="button_field">
        {% if back %}
        <input name="back" class="testbutton" type="submit" value="Назад" />
        {% endif %}
        <input name="next" class="testbutton" type="submit" value="Дальше!" />
    </div>

</form>

{% endblock %}
